main {
  color: #1c1c50;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.difference__table * {
  margin: 0;
}

.difference {
  &__row {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }

  &__section {
    background: #ccc;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
  }
  &__cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: auto;
    padding: 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    min-width: 200px;
  }

  &__cell:not(.difference__cell--feature) {
    border-left: 1px solid rgba(50, 50, 93, 0.25);
    border-right: 1px solid rgba(50, 50, 93, 0.25);
  }

  &__row:last-child &__cell:not(.difference__cell--feature) {
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid rgba(50, 50, 93, 0.25);
  }

  &__cell--feature {
    position: relative;
    line-height: 1;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }

  // &__cell--feature:hover:after {
  //   /*   content: attr(data-tooltip); */
  // }

  &__cell--head {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & * {
      padding: 5px;
    }
  }
  @media (min-width: 640px) {
    &__cell--head {
      font-size: 14px;
    }
  }
  &__cell--head {
    border-radius: 15px 15px 0 0;
    margin: 12px;
    border-top: 1px solid rgba(50, 50, 93, 0.25);

    p {
      color: gray;
    }
  }
  &__cell--qbdt {
    background: #393a3d;
  }
  &__tick {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #1c1c50;
  }
  &__tick--black {
    background: #393a3d;
  }
}
